<?xml version="1.0" encoding="UTF-8"?>
<!-- SPDX-FileCopyrightText: 2021 RTE FRANCE -->
<!-- -->
<!-- SPDX-License-Identifier: Apache-2.0 -->

<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                [%green(%t)] %highlight(%-5level) %yellow(%C): %msg%n%throwable
            </Pattern>
        </encoder>
    </appender>

    <logger name="org.lfenergy.compas.sct.commons" level="debug" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

    <root level="error">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
